@model InventoryManagement.Models.SaleOrderVM

@{
    ViewData["Title"] = "Create Customer";
}

<h1>Create Customer</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SaleOrder.CustomerId" class="control-label"></label>
                <select class="form-control" asp-for="SaleOrder.CustomerId" asp-items="Model.Customers">
                    <option value="">---- Select Customer -----</option>
                </select>
                <span asp-validation-for="SaleOrder.CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleOrder.WarehouseId" class="control-label"></label>
                <select class="form-control" asp-for="SaleOrder.WarehouseId" asp-items="Model.Warehouses">
                    <option value="">---- Select Warehouse -----</option>
                </select>
                <span asp-validation-for="SaleOrder.WarehouseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleOrder.Sotype" class="control-label"></label>
                <input asp-for="SaleOrder.Sotype" class="form-control" />
                <span asp-validation-for="SaleOrder.Sotype" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="CreatedDate" class="control-label"></label>
            <input asp-for="CreatedDate" class="form-control" />
            <span asp-validation-for="CreatedDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UpdatedDate" class="control-label"></label>
            <input asp-for="UpdatedDate" class="form-control" />
            <span asp-validation-for="UpdatedDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CreatedBy" class="control-label"></label>
            <input asp-for="CreatedBy" class="form-control" />
            <span asp-validation-for="CreatedBy" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UpdatedBy" class="control-label"></label>
            <input asp-for="UpdatedBy" class="form-control" />
            <span asp-validation-for="UpdatedBy" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
